@model UsuarioEditVM

@{
    ViewData["Title"] = "Eliminar Usuario";
}
<div class="alert alert-danger">
    <p class="text-black">Esta seguro de eliminar el usuario?</p>

</div>
<div class="row">
    <dl>
        <dt>ID Usuario:</dt>
        <dd>@Model.ID</dd>
        <dt>Nombre Usuario:</dt>
        <dd>@Model.NombreUsuario</dd>
        <dt>Foto:</dt>
        <dd><img src="@Model.FotoSrc" alt="foto usuario" width="80" /></dd>
        <dt>Activo</dt>
        <dd>@Html.CheckBox("activo_" + @Model.ID, @Model.Activo, new { @class = "for-check-input" })</dd>
    </dl>
    <form asp-controller="FotoBinary" asp-action="Eliminar" method="post" role="form">
        <p><button type="submit" class="btn btn-danger">Eliminar</button></p>
    </form>
</div>

