@using GuardaImagenNet6.Repository;
@model Paginacion<UsuarioEditVM>
@{
    ViewData["Title"] = "Lista de Usuarios";
}
@section css {
    <link href="~/css/estilos.css" rel="stylesheet" asp-append-version="true" />

}
<h3 class="text-center mb-4">Listado de Usuarios (Binario)</h3>
<p class="text-end">
    <form asp-controller="FotoBinary" asp-action="Listado">
        Buscar: <input type="text" name="buscar" value="@ViewData["FiltroActual"]"
        class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        <a asp-action="Index" class="btn btn-outline-info">Lista completa</a>
    </form>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ">Dashboard</a>
    <a asp-controller="FotoBinary" asp-action="Crear" class="btn btn-primary ">Nuevo Usuario</a>
</p>
<hr />
<table class="table table-sm table-responsive table-hover table-striped">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayName("ID")</th>
            <th>
                <a asp-controller="FotoBinary" asp-action="Listado" asp-route-ordenActual="@ViewData["FiltroUserNombre"]"
                   asp-route-filtroActual="@ViewData["FiltroActual"]">
                    @Html.DisplayName("Usuario")
                </a>

            </th>
            <th>@Html.DisplayName("Contraseña")</th>
            <th>Foto</th>
            <th>
                <a asp-controller="FotoBinary" asp-action="Listado" asp-route-ordenActual="@ViewData["FiltroFecha"]"
                   asp-route-filtroActual="@ViewData["FiltroFecha"]">
                    @Html.DisplayName("Fecha Alta")
                </a>
            </th>
            <th>@Html.DisplayName("Estus")</th>
            <th>@Html.DisplayName("Acciones")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GuardaImagenNet6.ViewModel.Usuario.UsuarioEditVM user in Model)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(item => user.ID)</td>
                <td>@Html.DisplayFor(item => user.NombreUsuario)</td>
                <td>
                    @Html.DisplayFor(item => user.Contrasenya)
                </td>
                <td><img id="imgUser_@user.ID" src=@user.FotoSrc asp-append-version="true" Width="50" alt="imagen usuario" /></td>
                <td>@Html.DisplayFor(item => user.FechaAlta)</td>
                <td>@Html.CheckBox("Activo_" + user.ID.ToString(), user.Activo ? user.Activo : false, new { @class = "form-check-input" })</td>
                <td>
                    <a asp-controller="FotoBinary" asp-action="Detalle" asp-route-id="@user.ID" class="link-primary">Detalle</a> |
                    <a asp-controller="FotoBinary" asp-action="Editar" asp-route-id="@user.ID" class="link-info">Editar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@{
    var anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div>
    <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
       asp-route-numpag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
       class="btn btn-primary @anteriordeshabilitado">Anterior</a>

    @for (var i = 1; i <= Model.PaginasTotales; i++)
    {
        var paginaActiva = (i == Model.PaginaInicio) ? "active" : "";
        <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numpag="@i" 
            asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaActiva">
            @i
        </a>
    }

    <a asp-action="Index" asp-route-ordenActual="@ViewData["OrdenActual"]"
       asp-route-numpag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
       class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
</div>
