@model GuardaImagenNet6.Repository.PaginacionList<UsuarioEditVM>
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h3 class="text-center mb-4">Listado de Usuarios (Path)</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="FotoPath" asp-action="Listado">
            <input type="text" name="buscar" value="@ViewData["FiltroActual"]" placeholder="Buscar" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
            <a asp-controller="FotoPath" asp-action="Listado" class="btn btn-outline-primary">Lista completa</a>
        </form>
    </div>
    <div class="col-m-6 offset-md-9">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ">Dashboard</a>
        <a asp-controller="FotoPath" asp-action="Create" class="btn btn-primary ">Nuevo Usuario</a>
    </div>
</div>
<hr />
<table class="table table-sm table-responsive table-hover table-striped">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayName("ID")</th>
            <th>
                <a asp-controller="FotoPath" asp-action="Listado" asp-route-ordenActual="@ViewData["FiltroUserNombre"]"
                   asp-route-filtroActual="@ViewData["FiltroActual"]">
                    @Html.DisplayName("Usuario")
                </a>
            </th>
            <th>@Html.DisplayName("Contraseña")</th>
            <th>Foto</th>
            <th>
                <a asp-controller="FotoPath" asp-action="Listado" asp-route-ordenActual="@ViewData["FiltroFecha"]"
                   asp-route-filtroActual="@ViewData["FiltroActual"]">
                    @Html.DisplayName("Fecha Alta")
                </a>
            </th>
            <th>@Html.DisplayName("Estus")</th>
            <th>@Html.DisplayName("Acciones")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GuardaImagenNet6.ViewModel.Usuario.UsuarioEditVM user in Model)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(item => user.ID)</td>
                <td>@Html.DisplayFor(item => user.NombreUsuario)</td>
                <td>@Html.DisplayFor(item => user.Contrasenya)</td>
                <td><img id="imgUser_@user.ID" src=@user.FotoPath asp-append-version="true" Width="50" alt="imagen usuario" /></td>
                <td>@Html.DisplayFor(item => user.FechaAlta)</td>
                <td>@Html.CheckBox("Activo_" + user.ID.ToString(), user.Activo ? user.Activo : false, new { @class = "form-check-input" })</td>
                <td>
                    <a asp-controller="FotoPath" asp-action="Details" asp-route-id="@user.ID" class="link-primary">Detalle</a> |
                    <a asp-controller="FotoPath" asp-action="Edit" asp-route-id="@user.ID" class="link-info">Editar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
@{
    string anteriordeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    string siguientedeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div>
    <a asp-action="Listado" asp-route-ordenActual="@ViewData["OrdenActual"]"
       asp-route-numPag="@(Model.PaginaInicio - 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
       class="btn btn-primary @anteriordeshabilitado">Anterior</a>

    @for (var i = 1; i <= Model.PaginasTotales; i++)
    {
        var paginaActiva = (i == Model.PaginaInicio) ? "active" : "";
        <a asp-action="Listado" asp-route-ordenActual="@ViewData["OrdenActual"]" asp-route-numPag="@i"
           asp-route-filtroActual="@ViewData["FiltroActual"]" class="btn btn-primary @paginaActiva">
            @i
        </a>
    }

    <a asp-action="Listado" asp-route-ordenActual="@ViewData["OrdenActual"]"
       asp-route-numPag="@(Model.PaginaInicio + 1)" asp-route-filtroActual="@ViewData["FiltroActual"]"
       class="btn btn-primary @siguientedeshabilitado">Siguiente</a>
</div>