@model IEnumerable<UsuarioEditVM>
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h3 class="text-center mb-4">Listado de Usuarios (Path)</h3>
<p class="text-end">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ">Dashboard</a>

    <a asp-controller="FotoPath" asp-action="Create" class="btn btn-primary ">Nuevo Usuario</a>
</p>
<hr />
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayName("ID")</th>
            <th>@Html.DisplayName("Usuario")</th>
            <th>@Html.DisplayName("Contraseña")</th>
            <th>Foto</th>
            <th>@Html.DisplayName("Fecha Alta")</th>
            <th>@Html.DisplayName("Estus")</th>
            <th>@Html.DisplayName("Acciones")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (GuardaImagenNet6.ViewModel.Usuario.UsuarioEditVM user in Model)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(item => user.ID)</td>
                <td>@Html.DisplayFor(item => user.NombreUsuario)</td>
                <td>@Html.DisplayFor(item => user.Contrasenya)</td>
                <td><img id="imgUser_@user.ID" src=@user.FotoPath asp-append-version="true" Width="50" alt="imagen usuario" /></td>
                <td>@Html.DisplayFor(item => user.FechaAlta)</td>
                <td>@Html.CheckBox("Activo_" + user.ID.ToString(), user.Activo ? user.Activo : false, new { @class = "form-check-input" })</td>
                <td>
                    <a asp-controller="FotoPath" asp-action="Details" asp-route-id="@user.ID" class="link-primary">Detalle</a> |
                    <a asp-controller="FotoPath" asp-action="Edit" asp-route-id="@user.ID" class="link-info">Editar</a>
                </td>
            </tr>
        }
    </tbody>

</table>