@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Usuarios";
}

<h3 class="text-center mb-4">Listado de Usuarios</h3>
<p class="text-end">
    <a asp-controller="Home" asp-action="Crear" class="btn btn-success ">Nuevo Usuario</a>
</p>
<hr />
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th>@Html.DisplayName("ID")</th>
            <th>@Html.DisplayName("Usuario")</th>
            <th>@Html.DisplayName("Contraseña")</th>
            <th>@Html.DisplayName("Fecha Alta")</th>
            <th>@Html.DisplayName("Estus")</th>
            <th>@Html.DisplayName("Acciones")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario user in Model)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(item => user.Id)</td>
                <td>@Html.DisplayFor(item => user.UserName)</td>
                <td>@Html.DisplayFor(item => user.Password)</td>
                @* <td>@Html.DisplayFor(item => user.FotoBd)</td> *@
                <td>@Html.DisplayFor(item => user.FechaAlta)</td>
                <td>@Html.CheckBox("Activo_" + user.Id.ToString(), user.Estatus ?? false, new { @class = "form-check-input"})</td>
                <td>
                    <a asp-controller="Home" asp-action="Detalles" class="link-primary" >Detalle</a> |
                    <a asp-controller="Home" asp-action="Actualizar" class="link-info">Actualizar</a>|
                    <a asp-controller="Home" asp-action="Eliminar" class="link-danger"> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>